.drawing {
    width: 100%;
    min-height: calc(100vh - 92px);
    height: 100%;
    position: relative;
}

.drawing-container {
    max-width: 1880px;
    width: 90%;
    margin: 0 auto;
    min-height: 420px;
}

.input-field {
    margin: 20px 0;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 12px;
    overflow: hidden;
}

.dalle-input {
    width: 100%;
    padding: 14px;
    height: 58px;
    border: 1px solid rgb(231, 231, 231);
    font-size: 16px;
    outline: none;
}

.dalle-btn {
    display: inline;
    height: 58px;
    margin: 0;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0px 5px 5px 0px;
}

.canvas {
    max-width: 300px;
    width: 90%;
    border-radius: 10px;
    margin-top: 60px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas::-webkit-scrollbar {
    display: none;
}

.canvas img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.styles-container {
    font-family: 'Sofia Sans', 'sans-serif';
}

.styles {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    color: grey;
    gap : 5px;
}

.styles-title {
    height: 42px;
    width: 140px;
    overflow: hidden;    
}

.styles-title-item {
    background-color: #ECEBF0;
    padding: 10px;
    border-radius: 7px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.styles-title-wrapper {
    animation: move 10s ease-in-out infinite alternate;
}

.gallery {
    max-width: 1880px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Sofia Sans', 'sans-serif';
    font-size: 22px;
}

.gallery-title {
    margin-bottom: 20px;
}

.display {
    display: initial;
}

.hide {
    display: none;
}

@keyframes move {
    25% {
        transform: translateY(-48px);
    }
    50% {
        transform: translateY(-96px);
    }
    75% {
        transform: translateY(-144px);
    }
    100% {
        transform: translateY(-192px);
    }
}

@media screen and (max-width: 769px) {
    .styles-container {
        display: none;
    }

    .canvas {
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .dalle-btn {
        font-size: 14px;
        padding: 7px;
        height: 48px;
    }

    .dalle-input {
        height: 48px;
    }

    .drawing-container {
        min-height: 360px;
    }
    
    .gallery-title {
        font-size: 16px;
    }
}