@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Sofia+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    padding: 13px 20px;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    margin: 8px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
}

a {
    display: block;
}

textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    outline: none;
    resize: none;
    background-color: #f3f3f3;
}

.btn-primary {
    background-color: black;
    color: white;
}

.btn-secondary {
    background-color: rgb(211, 211, 211);
}

button:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    button {
        font-size: 0.4em;
    }
}